<%= form_for(@rproc) do |f| %>
  <% if @rproc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rproc.errors.count, "error") %> prohibited this rproc from being saved:</h2>

      <ul>
      <% @rproc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :pdf_support %><br />
    <%= f.check_box :pdf_support %>
  </div>
  <div class="field">
    <%= f.label :csv_support %><br />
    <%= f.check_box :csv_support %>
  </div>
  <div class="field">
    <%= f.label :html_support %><br />
    <%= f.check_box :html_support %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
