<h1>Listing rprocs</h1>

<table border=0 cellspacing="3" cellpadding="3" style="border-width:1px;border-color:black;border-style:solid;">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rprocs.each do |rproc| %>
  <tr>
    <td><%= rproc.name %></td>
    <td><%= rproc.description %></td>
    <td><%= rproc.active %></td>
    <td><%= link_to 'Show', rproc %></td>
    <td><%= link_to 'Edit', edit_rproc_path(rproc) %></td>
    <td><%= link_to 'Destroy', rproc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rproc', new_rproc_path %>
