<p id="notice"><%= notice %></p>

<p>
  <b>Voterid:</b>
  <%= @vtr.voterid %>
</p>

<p>
  <b>Date:</b>
  <%= @vtr.date %>
</p>

<p>
  <b>Leo:</b>
  <%= @vtr.leo %>
</p>

<p>
  <b>Formnote:</b>
  <%= @vtr.formNote %>
</p>

<p>
  <b>Form:</b>
  <%= @vtr.form %>
</p>

<p>
  <b>Jurisdiction:</b>
  <%= @vtr.jurisdiction %>
</p>

<p>
  <b>Comment:</b>
  <%= @vtr.comment %>
</p>

<p>
  <b>Notes:</b>
  <%= @vtr.notes %>
</p>

<p>
  <b>Action:</b>
  <%= @vtr.action %>
</p>

<p>
  <b>Election:</b>
  <%= @vtr.election %>
</p>

<p>
  <b>Hash Algorithm:</b>
  <%= @vtr.hashAlg %>
</p>


<%= link_to 'Edit', edit_vtr_path(@vtr) %> |
<%= link_to 'Back', vtrs_path %>
