      <h2><%=t('landing_page.periods')%></h2>
      <p><%=t('periods_page.text')%></p>

      <p>
<%
  status = flash[:status]
  if !status.nil?
    if status.include? "[0]"
        color = t('upload_page.ok_color')
        msg = 'OK'
    else
        color = t('upload_page.fail_color')
        msg = 'FAIL'
    end
  end
%>
  <span style="background-color: <%= color %>;"> <%= msg %> </span>
<%= flash[:status] %>
      </p>

<%= render 'form' %>

      <p>&nbsp;</p>
      <h3><%=t('periods_page.history_header')%></h3>

<table border=0 cellspacing="3" cellpadding="3" style="border-width:1px;border-color:black;border-style:solid;">
  <tr>
    <th>Name</th>
    <th>Period Type</th>
    <th>Start Date</th>
<!--
    <th>End Date</th>
    <th>Voter<br>Registration<br>Start</th>
    <th>Voter Registration End</th>
    <th></th>
-->
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.name %></td>
<!--    <td><%= period.ptype %></td> -->
    <td>
      <%= Period::P2string[period.ptype] %>
    </td>
    <td><%= period.lodate %></td>
<!--
    <td><%= period.hidate %></td>
    <td><%= period.voter_reg_lodate %></td>
    <td><%= period.voter_reg_hidate %></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'View', period %></td>
    <td><%= link_to 'Report', controller: "reports", action: "index", period: period.name %></td>
  </tr>
<% end %>
</table>

