      <p><%= t('landing_page.text') %></p>
      <p>
        <ul>
          <li><a href="/uploads"><%=t('landing_page.upload_data')%></a></li>
          <li><a href="/periods"><%=t('landing_page.periods')%></a></li>
          <li><a href="/reports"><%=t('landing_page.reports')%></a></li>
          <li><a href="/analysis"><%=t('landing_page.analysis')%></a></li>
        </ul>
      </p>
      <h2>Administrative Tools</h2>
      <p>
        <ul>
          <li><a href="/vtrs">VTR Inspection</a></li>
          <li><a href="/rprocs">Report Procedure Management</a></li>
        </ul>
      </p>
