<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :module_name %><br />
    <%=
	# get the list of report procedures, sort by name, make an HTML select
	rproclist = Hash.new()
	rproclist['-- choose a report--'] = ''
	@rprocs.each do |rproc|
	  rproclist[rproc['name']] = rproc['module_name'] if rproc.active?
	end

	# make the HTML select
        f.select(
	  :module_name, 
	  options_for_select(
	    rproclist
	  ),
	  {},
	  {:onchange => "set_formats()"}
	)
     %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%=
	# get a hash of period names
	Report::Pnames.clear
	@periods.each do |p|
	    Report::Pnames << p.name
	end

	if params[:period].nil?
	  default_period = nil
	  sel_opt = {}
	else
	  default_period = params[:period]
	  sel_opt = {:disabled => true}
	end

	# create a select out of those period names
        f.select(
	  :period, 
	  options_for_select(
	    Report::Pnames,
	    default_period
	  ),
	  {},
	  sel_opt
	)
     %>
  </div>
  <div class="field">
    <%= f.label :output_format %><br />
    <%= radio_button_tag(:report_format, "pdf") %>
    <%= label_tag(:format_pdf, "PDF") %>
    <%= radio_button_tag(:report_format, "csv") %>
    <%= label_tag(:format_csv, "CSV") %>
    <%= radio_button_tag(:report_format, "html") %>
    <%= label_tag(:format_html, "HTML") %>
  </div>
  <div class="actions">
    <%= f.submit :onclick => "return validate_form()" %>
  </div>
<% end %>
