      <h2><%=t('landing_page.reports')%></h2>
      <p><%=t('reports_page.text')%></p>

      <p>
<%
  status = flash[:status]
  if !status.nil?
    if status.include? "[0]"
        color = t('upload_page.ok_color')
        msg = 'OK'
    else
        color = t('upload_page.fail_color')
        msg = 'FAIL'
    end
  end

  # get the list of *active* report procedures so we can label report jobs correctly
  rproclist = Hash.new()
  @rprocs.each do |rproc|
    rproclist[rproc['module_name']] = rproc['name'] if rproc.active == true
  end

%>
  <span style="background-color: <%= color %>;"> <%= msg %> </span>
<%= flash[:status] %>
      </p>

<%= 
  # if there are no active reports, there is not much to do
  if rproclist.empty?
    render 'noreports'
  else
    render 'form' 
  end
%>

      <p>&nbsp;</p>
      <h3><%=t('reports_page.history_header')%></h3>

<table border=0 cellspacing="3" cellpadding="3" style="border-width:1px;border-color:black;border-style:solid;">
  <tr>
    <th>Report</th>
    <th>Period</th>
    <th>Created</th>
    <th>Last Run</th>
    <th><%= t('reports_page.make_button_text')%></th>
<!--
    <th></th>
    <th></th>
-->
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>

<% # get the associated report procedure attributes
   gens = Array.new()
   base_path = reports_path
   base_path += '/'
   base_path += report.id.to_s
   base_path += '?'
   rproc = Rproc.where(module_name: report.module_name).first
   if rproc['pdf_support'] == true
       gens.push(link_to "PDF", (base_path + 'report_format=pdf'))
   end
   if rproc['csv_support'] == true
       gens.push(link_to 'CSV', (base_path + 'report_format=csv'))
   end
   if rproc['html_support'] == true
       gens.push(link_to "HTML", (base_path + 'report_format=html'))
   end
   format_gen = '[' + gens.join(' | ') + ']'
 %>

  <tr>
    <td>
      <%= rproclist[report.module_name] %>
    </td>
    <td><%= report.period %></td>
    <td><%= report.created_at %></td>
    <td><%= report.updated_at %></td>
    <td><%= raw(format_gen) %></td>
<!--
    <td><%= link_to 'View', '' %></td>
    <td><%= link_to 'Show', report %></td>
-->
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Remove', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

