      <h2><%=t('landing_page.reports')%></h2>
      <p><%=t('reports_page.text')%></p>

      <p>
<%
  status = flash[:status]
  if !status.nil?
    if status.include? "[0]"
        color = t('upload_page.ok_color')
        msg = 'OK'
    else
        color = t('upload_page.fail_color')
        msg = 'FAIL'
    end
  end

  # get the list of report procedures, sort by name, make an HTML select
  rproclist = Hash.new()
  @rprocs.each do |rproc|
    rproclist[rproc['id']] = rproc['name']
  end
%>
  <span style="background-color: <%= color %>;"> <%= msg %> </span>
<%= flash[:status] %>
      </p>

<%= render 'form' %>

      <p>&nbsp;</p>
      <h3><%=t('reports_page.history_header')%></h3>

<table border=0 cellspacing="3" cellpadding="3" style="border-width:1px;border-color:black;border-style:solid;">
  <tr>
    <th>Report</th>
    <th>Period</th>
    <th>Created</th>
    <th>Last Run</th>
    <th></th>
<!--
    <th></th>
    <th></th>
-->
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
<!--    <td><%= report.report %></td> -->
    <td>
      <%= rproclist[report.report] %>
    </td>
    <td><%= report.period %></td>
    <td><%= report.created_at %></td>
    <td><%= report.updated_at %></td>
    <td><%= link_to t('reports_page.make_button_text'), report %></td>
<!--
    <td><%= link_to 'View', '' %></td>
    <td><%= link_to 'Show', report %></td>
-->
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Remove', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

