<p id="notice"><%= notice %></p>

<%
logger.debug "*** in the show view"
  # get the list of report procedures, sort by name, make an HTML select
  rproclist = Hash.new()
  @rprocs.each do |rproc|
    rproclist[rproc['module_name']] = rproc['name']
  end

  # if the admin has an overriding name, use that
  # default report name is whatever the programmer chose
  tkey = @report.module_name + '.report_title'
  rpt_name = t(tkey, :default => rproclist[@report.module_name])
 %>

<p>
  <b>Report:</b>
  <%= rpt_name %>
</p>

<p>
  <b>Period:</b>
  <%= @report.period %>
</p>

<p>
  <b>Output:</b>
</p>
<%= raw(GenRept(@report)) %>

<p><cite>Report Ends</cite></p>
<!-- <%= link_to 'Edit', edit_report_path(@report) %> | -->
<%= link_to 'Back', reports_path %>
