<p id="notice"><%= notice %></p>

<%
  # get the list of report procedures, sort by name, make an HTML select
  rproclist = Hash.new()
  @rprocs.each do |rproc|
    rproclist[rproc['id']] = rproc['name']
  end
 %>

<p>
  <b>Report:</b>
<!--  <%= @report.report %> -->
  <%=
    rproclist[@report.report]
  %>
</p>

<p>
  <b>Period:</b>
  <%= @report.period %>
</p>

<p>
  <b>Output:</b>
</p>
<%= GenRept(@report) %>

<p><cite>Report Ends</cite></p>
<!-- <%= link_to 'Edit', edit_report_path(@report) %> | -->
<%= link_to 'Back', reports_path %>
