<!DOCTYPE html>
<html>
<head>
  <title><%= AppConfig.site_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- standard page layout -->
<table border="0" align="center" width="90%"> <!-- main table -->
  <tr>
    <td width="200" valign="top">
      <img src="http://enrs.trustthevote.org/assets/ttv_grey_poweredby-85bb80e31c6153295ddec9023a74450c.jpg" 
        alt="powered by Trust The Vote" width="175" height="175">
    </td>
    <td valign="top">
      <h1><%= AppConfig.site_name %></h1>

<%= yield %>

    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="1">
      <hr align="left" width="500">
      <br>
      [<a href="/"><%= t('footer.home_link_text') %></a>]
      <cite>
Page rendered 
<%= 
  endtime = Time.new;
  sprintf("%02d/%02d/%04d at %02d:%02d:%02d",endtime.month,endtime.day,endtime.year,endtime.hour,endtime.min,endtime.sec)
%>
      </cite>
    </td>
  </tr>
</table>

</body>
</html>
